RewriteEngine On

# dynamically setup base URI
RewriteCond %{REQUEST_URI}::$1 ^(/.+)/(.*)::\2$
RewriteRule ^(.*) - [E=BASE_URI:%1]

# Pour toutes les pages qui n'existent pas
# on renvoie la requête vers index.php
# en passant l'URL réécrite dans le paramètre GET _url

# Si le fichier demandé n'est pas un dossier (existant)
RewriteCond %{REQUEST_FILENAME} !-d
# Si le fichier demandé n'est pas un fichier (existant)
RewriteCond %{REQUEST_FILENAME} !-f
# redirect every request to index.php
# and give the relative URL in "_url" GET param
# RewriteRule ^(.*)$ index.php?_url=/$1 [QSA,L]

# AltoRouter versiob
RewriteRule . index.php [L]

# l'expression régulière ci-dessus (regex) nous permet sur cette URL
# http://localhost/rocket/e03/s05-e03-oshop-jc-oclock/public/catalog/category/1
# de récupèrer tous les caractères en fin d'URL
# et nous les renvoyer dans la variable $1
# cf : https://regex101.com/